@charset "utf-8";


@font-face{font-family: NG; src: local(※), url(NanumGothic.woff) format("woff");}

body  {line-height: 1; font-family: NG, sans-serif; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font: normal NG; }
/*
body  {line-height: 1; font-family: sans-serif; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
*/
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

html, body {
    padding : 0;
    margin : 0;
    width: 100%;
    height : 100%;
    background-color: #f5f6fa;
}

header {
    background: linear-gradient(to bottom left, #0099ff 51%, #66ffcc 100%);
    line-height: 40px;
    color : white;
    text-align : center;
    font-weight: bold; 
    font-size : 24px;
    padding: 13px 0;
    width : 100%;
}

 footer {
    color : black; 
    text-align : center;
    font-size : 1.em;
    font-weight: bold; 
    background-color : white;
    width : 100%;
    padding : 15px 0px;
 }


.img_angle { 
    border:2px solid #fff; 
    background: no-repeat; 
}

.input_title {
    text-align : center; border:none;
    font-weight:bold; color:blue; font-size:1.2em;
    /* background:#a0a0a0; */
    background-color: Transparent;
}    

.footer {
    margin-top: 4px;
    padding-top: 0.2em;
    padding-bottom:0.2em;
    border-top: solid 2px #a0a0a0;
    border-bottom: solid 2px #a0a0a0;
    text-align:center;
    font-size:0.8em;
}

input {
    margin:1px;
}

input[type=button] {
    text-align:center;
    font-size:1em;
}


.button_base {
    background: #eee; 
    padding: 4px 0px 4px 0px ; 
    margin:0px 10px 0px 10px;
    font-size:0.8em;
}
.button_span {
    cursor: pointer;
    display: inline-block; 
    width: 30%;
    padding : 7% 0;
    font-size: 1.3em;
    font-weight: bold;
    color:white;     
    background-color:#bbb; 
    border-bottom : solid 4px #7f8fa6;
}
.button_span:active { background:green; }

.checkinput {
    width:1.2em;
    text-align:center;
    cursor:pointer;
    background-color:#444;
    color:#eee;
}

.img_btn {
    /* background-color:red;  */
}

.img_btn:active { background-color:green; }


body.wait *, body.wait
{
    cursor: progress !important;
}

.contents {
    width:100%;
}
.container {
    width : 100%;
}
@media screen and (min-width: 800px){
    .container {
        margin : 0 auto;
        width : 65%;
    }
}

/* 알림창 */

#alert {
    position: fixed;
    z-index: 10;
    top : 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    box-shadow: 0 32px 48px 0 rgba(0, 0, 0, 0.5);
    width: 70%;
    max-width : 500px;
    height : auto;
    background: white;
    padding: 10px;
    text-align:center;
}
#alert input[type=submit] {
    margin-bottom: 25px;
    width: 50%;
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#alert input[type=submit]:hover {
    background-color: #45a049;
}

#alert h1 {
    margin: 0 auto;
    margin-top : -35px;
    font-size: 50px;
    width : 50px;
}

/****************************/

/* /아이콘 */
/* i {
    max-width : 32px; width : 80%; float : left;
} */


/* Loading */
.bg {
    position : fixed;
    top : 0%;
    left: 0%;
    transform : translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    
    width : 100%;
    height : 100%;
    background-color : rgba(245, 246, 250, 0.5);
    z-index : 9;
    text-align : center;
}
.bg .loader_box {
    width : 90%;
    max-width : 450px;
    position: absolute;
    top : 45%;
    left: 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color : black;
    background-color : none;
    padding : 0 0;
}
.bg .loader {
    position: relative;
    border: 5px solid #EE5A24;
    border-radius: 50%;
    border-top: 5px solid #fdcb6e;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; 
    /* Safari */
    animation: spin 2s linear infinite;
    z-index : 10;
    margin : 0 auto;
    top : 40%;
}

.bg #load_txt {
    position: absolute;
    display : inline-block;
    background-color : rgba(76, 209, 55,1.0);
    border-bottom : solid 6px rgba(68, 189, 50,1.0);
    border-radius: 10%;
    padding : 15px 15px;
    color : white;
    font-weight : bold;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin-top : 70px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/****************************/