@charset "utf-8";
@font-face{font-family: NG; src: local(※), url(NanumGothic.woff) format("woff");}
body  {line-height: 1; font-family: NG, sans-serif; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font: normal NG; }
a:hover, a:visited, a:link, a:active{ text-decoration: none; } 
html, body {
    padding : 0;
    margin : 0;
    width: 100%;
    height : 100%;
    background-color: #f5f6fa;
} 
header {
    background-color : dodgerblue;
    /* background: linear-gradient(to bottom left, #0099ff 51%, #66ffcc 100%); */
    line-height: 40px;
    color : white;
    text-align : center;
    font-weight: bold; 
    font-size : 23px;
    padding: 13px 0;
    position: relative;
    margin : 0 auto;
    max-width: 800px;
    height : 40px;
}
 footer {
    color : black; 
    text-align : center;
    font-size : 1.em;
    font-weight: bold; 
    background : none;
    width : 100%;
    padding : 15px 0px;
} 
.img_angle { 
    border:2px solid #fff; 
    background: no-repeat; 
}

.input_title {
    text-align : center; border:none;
    font-weight:bold; color:blue; font-size:1.2em;
    /* background:#a0a0a0; */
    background-color: Transparent;
}    
.footer {
    margin-top: 4px;
    padding-top: 0.2em;
    padding-bottom:0.2em;
    border-top: solid 2px #a0a0a0;
    border-bottom: solid 2px #a0a0a0;
    text-align:center;
    font-size:0.8em;
}

input {
    margin:1px;
}

input[type=button] {
    text-align:center;
    font-size:1em;
}
/* buttons design */
.buttonContainer {
    display : flex;
    justify-content: center;
}
.button {
    position : relative;
    max-width : 30px;
    width : 80%;
    margin : 0.5%;
    border-bottom : 2px  #707070 solid; 
    border-top : 2px  #9e9dac solid; 
    border-right : 2px  #707070 solid; 
    border-left : 2px  #9e9dac solid; 
    background-color : white; 
    cursor: pointer; 
    padding: 10px 30px 25px 30px;
    font-size: 13px; 
    font-weight: bold;
    font-style: normal;
}
.button > div {
    position : absolute;
    top : 85%;
    left : 50%;
    transform: translate(-50%, -85%);
    -webkit-transform: translate(-50%, -85%);
    width : 100%;
}
/* ----------------------- */
.checkinput {
    width:1.2em;
    text-align:center;
    cursor:pointer;
    background-color:#444;
    color:#eee;
}
.contents {
    width:100%;
}
.container {
    width : 100%;
}
@media screen and (min-width: 800px){
    .container {
        margin : 0 auto;
        width : 65%;
    }
}
/* 알림창 */
#alert {
    position: fixed;
    z-index: 10;
    top : 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    height : auto;
    background: white;
    padding: 10px;
    text-align:center;
    border-top : solid #707070 7px;
    border-bottom : solid #707070 7px;
}
#alert input[type=submit] {
    margin-bottom: 5px;
    width: 30%;
    max-width : 200px;
    background-color: dodgerblue;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size : 17px;
    margin-top : 10px;
}
#alert input[type=submit]:hover {
    background-color: #45a049;
}

#alert h1 {
    margin: 0 auto;
    font-size: 50px;
    width : 50px;
    margin-top : 10px;
}
#alert h2{
    font-size : 23px;
}

/****************************/

/* /아이콘 */
/* i {
    max-width : 32px; width : 80%; float : left;
} */


/* Loading */
.bg {
    position : fixed;
    top : 0%;
    left: 0%;
    transform : translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    
    width : 100%;
    height : 100%;
    background-color : rgba(245, 246, 250, 0.5);
    z-index : 9;
    text-align : center;
}
.bg .loader_box {
    width : 90%;
    max-width : 450px;
    position: absolute;
    top : 45%;
    left: 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color : black;
    background-color : none;
    padding : 0 0;
}
.bg .loader {
    position: relative;
    border: 5px solid #EE5A24;
    border-radius: 50%;
    border-top: 5px solid #fdcb6e;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; 
    /* Safari */
    animation: spin 2s linear infinite;
    z-index : 10;
    margin : 0 auto;
    top : 40%;
}

.bg #load_txt {
    position: absolute;
    display : inline-block;
    background-color : rgba(76, 209, 55,1.0);
    border-bottom : solid 6px rgba(68, 189, 50,1.0);
    border-radius: 10%;
    padding : 15px 15px;
    color : white;
    font-weight : bold;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin-top : 70px;
}
/* creator design */
.creator_d {
    display : none;
    text-align:center;
    margin-top : 50px;
    font-size : 15px;
}
.creator_d > p {
    font-size : 10px;
    font-weight : bold;
}

/* iphone or small device */
@media screen and (max-width: 370px){
    header {
        font-size : 17px;
    }
}
/* Safari */
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
/****************************/